body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
body > h1{
    background-color: brown;
    margin: 10px;
}
input{
    height: 24px;
    border: 1px solid rgb(129, 131, 134);
    border-radius: 5px;
}
input[type=submit],
input[type=file]{
    background-color: rgb(142, 176, 238);
    color: #FFF;
    text-transform: uppercase;
    font-weight: bolder;
    height: 32px;
}
input[type=submit]:hover,
input[type=file]:hover{
    color:  rgb(49, 95, 223);
    background-color: #FFF;
}
input[id="nombre"]:invalid, 
input[id="apellido"]:invalid,
input[id="codigo"]:invalid,
input[id="carrera"]:invalid,
input[id="correo"]:invalid{
    background-color: rgb(245, 110, 110);
    color: black;
}

input[id="nombre"]:valid, 
input[id="apellido"]:valid,
input[id="codigo"]:valid,
input[id="carrera"]:valid,
input[id="correo"]:valid{
    background-color: rgb(96, 236, 143);
    color: black;
}
.cuerpito{
    margin: auto;
    margin-top: 100px;
     padding: 30px;
     width: 400px;
     background: rgb(154, 148, 179);
}
